@model WebStore.LaptopCrudService.Laptop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="indextable col-md-6">
    @{
        if (Model.Image != null)
        {
            var base64 = Convert.ToBase64String(Model.Image.ToArray());
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <img src="@imgSrc" />
        }
        else
        {
            <h1>No Image</h1>
        }
    }
</div>

<div class="indextable col-md-6">
    <h4>Laptop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HardDisk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HardDisk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
